PyYAML==6.0.1
huggingface-hub==0.24.0
numpy==1.26.4
transformers==4.42.4
sympy==1.13.1 
torch==2.3.1 
torchvision==0.18.1 
triton==2.3.1
pandas==2.2.2
tensorboard==2.17.0
opencv-python==4.10.0.84
einops==0.8.0
matplotlib==3.9.1
seaborn==0.13.2